In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
X_train= pd.read_csv('train_X.csv')
Y_train= pd.read_csv('train_Y.csv')
X_test= pd.read_csv('test_X.csv')
Y_test= pd.read_csv('test_Y.csv')

In [4]:
X_train.head()

   Id  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0   0       3    0  22.0      1      0   7.2500         1
1   1       1    1  38.0      1      0  71.2833         0
2   2       3    1  26.0      0      0   7.9250         1
3   3       1    1  35.0      1      0  53.1000         1
4   4       3    0  35.0      0      0   8.0500         1

In [5]:
X_train = X_train.drop('Id' , axis=1)
Y_train = Y_train.drop('Id' , axis=1)
X_test = X_test.drop('Id' , axis=1)
Y_test = Y_test.drop('Id' , axis=1)

In [6]:
X_train = X_train.values
Y_train = Y_train.values
X_test = X_test.values
Y_test = Y_test.values

In [7]:
X_train = X_train.T
Y_train = Y_train.reshape(1,X_train.shape[1])
X_test = X_test.T
Y_test = Y_test.reshape(1,X_test.shape[1])

In [12]:
def sigmoid(x):
    return 1/(1 + np.exp(-x))

In [17]:
def model(X,Y,learningRate , iterations):

    m = X.shape[1]
    n = X.shape[0]

    W = np.zeros((n,1))
    B = 0

    cost_list=[]
    for i in range(iterations):

        Z= np.dot(W.T, X) + B
        A = sigmoid(Z)

        cost = -(1/m)*np.sum(Y*np.log(A)+ (1-Y)*np.log(1-A))

        dW = (1/m)*np.dot(A-Y, X.T)
        dB = (1/m)*np.sum(A-Y)

        W = W - learningRate*dW.T
        B = B - learningRate*dB

        cost_list.append(cost)

        if(i%(iterations/10)==0):
            print("Cost after ", i , ' is ',cost)        

    return W,B,cost_list

In [40]:
iterations=10000
learningRate=0.005
W, B, cost = model(X_train,Y_train,learningRate,iterations)

Cost after  0  is  0.6931471805599454
Cost after  1000  is  0.6086767805723815
Cost after  2000  is  0.5637411284619925
Cost after  3000  is  0.5335847267892615
Cost after  4000  is  0.5126437091140454
Cost after  5000  is  0.497975250341558
Cost after  6000  is  0.4875995836873869
Cost after  7000  is  0.48016703349462503
Cost after  8000  is  0.4747629208491925
Cost after  9000  is  0.4707695782931002

In [25]:
def accuracy (X,Y,W, B):

    Z = np.dot(W.T, X) + B
    A = sigmoid(Z)

    A = A> 0.5

    A = np.array(A, dtype= 'int64')

    acc = (1 - np.sum(np.absolute(A-Y))/Y.shape[1])*100
    print('Accuracy of the model is :', acc ,'%')

In [42]:
accuracy(X_test,Y_test,W,B)

Accuracy of the model is : 90.9090909090909 %